.module-title {
    margin-top: 0;
    margin-bottom: 0;
}

.menu-add-btn {
    width: 100%;
}

.fooditem-module-wrapper {
    margin-top: 10px;
}

.edit-delete-icons {
    color: orange;
}

.edit-delete-icons:hover {
    color: orange;
}