<div class="row" ng-controller="dashboardController">

    <!-- <div class="clearfix visibile-md-block"></div> -->

    <div class="col-md-6">
        <div class="row fooditem-module-wrapper">
                <!-- <pre>{{ data1.data[0].name }}</pre>
                <h1>{{ dude }}</h1> -->
            <div class="col-md-9">
                <h1 class="module-title">Dashboard</h1>
            </div>
            <div class="col-md-3">
                <button type="button"
                        class="btn btn-primary menu-add-btn"
                        data-toggle="modal"
                        data-target="#addModal"
                        >Add</button>

            </div>
            <div class="col-md-12">
                <table class="table">
                    <tr>
                        <th>Name</th>
                        <th>Ingredients</th>
                        <th>Price</th>
                        <th>Image</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    <tr ng-repeat="eachTableData in tableData">
                        <td class="name">{{ eachTableData.name }}</td>
                        <td class="ingredients">{{ eachTableData.ingredients }}</td>
                        <td class="price">{{ eachTableData.price }}</td>
                        <td class="image">{{ eachTableData.image }}</td>
                        <td>
                            <a class="edit-delete-icons"
                               data-toggle="modal"
                               data-target="#editModal">
                                  <span class="glyphicon glyphicon-pencil"></span>
                            </a>
                        </td>
                        <td>
                            <a class="edit-delete-icons"
                                    data-toggle="modal"
                                    data-target="#deleteModal">
                                <span class="glyphicon glyphicon-trash"></span>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    {{ emails = getEmails() }}
    <div class="col-md-6">
        <div class="row contactus-wrapper">
            <div class="col-md-12" ng-repeat="x in emails">
                <h4>{{ x.name }}</h4>
                <p>{{ x.body }}</p>
            </div>
        </div>
    </div>
</div>

<!-- Add Menu Modal -->
<div id="addModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h3>Add FoodItem</h3>
      </div>
      <div class="modal-body">
        <form ng-submit="addFoodItem()" method="POST">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" ng-model="name" name="name" />
            </div>

            <div class="form-group">
                <label for="ingredients">Ingredients</label>
                <input type="text" ng-model="ingredients" name="ingredients" />
            </div>
            
            <div class="form-group">
                <label for="price">Price</label>
                <input type="text" ng-model="price" name="price" />
            </div>

            <div class="form-group">
                <label for="category">Category</label>
                <select ng-model="category" name="category">
                    <option ng-repeat="eachCategory in categoryData track by $index" value="{{ categoryIds[$index] }}">{{ eachCategory }}</option>
                </select>
            </div>

            <div class="form-group">
                <label for="image">Upload An Image</label>
                <input  type="file"
                        file-input="files"
                        onchange="angular.element(this).scope().fileChanged(this)"
                        id="file"
                        name="image" />
            </div>

            <input type="submit" class="btn btn-success" value="Save" />
        </form>
      </div>
    </div>

  </div>
</div>



<!-- EDIT Menu Modal -->
<div id="editModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h3>Add FoodItem</h3>
      </div>
      <div class="modal-body">
        <form ng-submit="updateFoodItem()" method="POST">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" ng-model="name" name="name" />
            </div>

            <div class="form-group">
                <label for="ingredients">Ingredients</label>
                <input type="text" ng-model="ingredients" name="ingredients" />
            </div>
            
            <div class="form-group">
                <label for="price">Price</label>
                <input type="text" ng-model="price" name="price" />
            </div>

            <div class="form-group">
                <label for="category">Category</label>
                <select ng-model="category" name="category">
                    <option ng-repeat="eachCategory in categoryData track by $index"

                            value="{{ categoryIds[$index] }}">
                                {{ eachCategory }}
                    </option>
                </select>
            </div>

            <div class="form-group">
                <label for="image">Upload An Image</label>
                <input  type="file"
                        file-input="files"
                        onchange="angular.element(this).scope().fileChanged(this)"
                        id="file"
                        name="image" />
            </div>

            <input type="submit" class="btn btn-success" value="Update" />
        </form>
      </div>
    </div>

  </div>
</div>

